{% extends 'base.html' %}

{% block content %}
    <h1>Moja predstavitvena stran</h1>
<h2>Življenjepis</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cupiditate dignissimos dolorem esse inventore laudantium, nihil nobis non nulla perferendis, quae ratione, reiciendis reprehenderit sapiente sit soluta tempora vel vero.</p>
<h2>Izobrazba</h2>
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at dicta dignissimos doloremque,
            doloribus incidunt iure laborum minima necessitatibus placeat possimus, similique tempora velit veniam! Eaque
            molestias quasi quisquam.
        </li>
        <li>Dolores enim harum illum neque nisi, ut vitae. Autem corporis et facere facilis voluptatem! Adipisci ipsa
            maiores nihil numquam saepe vitae. Deserunt dolorem et laborum maxime, nobis quis ut voluptatem?
        </li>
        <li>Cumque incidunt itaque quisquam vel? Ab beatae, consectetur distinctio ipsum molestiae nobis ratione sed.
            Aspernatur assumenda, at atque dolor nobis quibusdam tenetur! Deserunt incidunt ipsum iure placeat praesentium
            velit, vero!
        </li>
</ul>

{% endblock content %}