{% extends 'base.html' %}

{% block title %}
To je domaca stran
{% endblock title %}


{% block content %}

    <h1>To je moja prva spletna stran, dobrodosli</h1>
    <h2>Moje najljubse stvari so tri</h2>
<ol>
    <li>Krem</li>
    <li>šni</li>
    <li>ta</li>
</ol>

Današnji datum: {{ todays_date }}

<pre>
    {{ input_text }}
</pre>

<ul>
    {% for mesto in mesta %}
    <li>{{ mesto }}</li>
    {% endfor %}
</ul>

<img src="/static/img/smartninja-logo.png" alt="Smartninja logo">

{% endblock content %}