<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pozdravljen svet</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav>
    <a href="/">Domov</a>
    <a href="/o-meni">O meni</a>
    <a href="o-meni/kontakt">Kontakt</a>
</nav>

    <h1>To je moja prva spletna stran, dobrodosli</h1>
    <h2>Moje najljubse stvari so tri</h2>
<ol>
    <li>Krem</li>
    <li>šni</li>
    <li>ta</li>
</ol>

<img src="/static/img/smartninja-logo.png" alt="Smartninja logo">

</body>
</html>